<h1><%= @user_first_name %>'s Entries</h1>
<!-- list of all entries -->
<% counter = 1 %>
<% @user_entries.each do |entry| %>
  <%= link_to "Entry #{counter}", "/users/#{session[:user_id]}/entries/#{entry.id}" %></br>
  <p>Created at: <%= entry.created_at %></p>
<% counter +=1 %>
<% end %>
