<h1>User Dashboard</h1>


<!-- I want to list the 5 most recent user entries, and link to their show pages -->
<h3>Most Recent Entries</h3>
<% counter = 0 %>
  <% @most_recent_entries.each do |entry| %>
    <%= link_to "Entry Created #{time_ago_in_words(entry.created_at)} ago", "/users/#{session[:user_id]}/entries/#{entry.id}" %></br>

    <% counter +=1 %>
  <% end %>

</br>
<%= link_to 'continue to all entries...', "/users/#{session[:user_id]}/entries" %>
</br>
<%= link_to 'Create New Entry', "/users/#{session[:user_id]}/entries/new", class: 'button' %>
<%= link_to 'View User Insights', "/users/#{session[:user_id]}/insights", class: 'button' %>

