<h1>This weeks's insights:</h1>
<h1>Your thoughts pertaining to your professional life have been: <%= @professional_verdict %> </h1>
<h1>Your thoughts pertaining to your personal life have been: <%= @personal_verdict %> </h1>
<h1>Your thoughts pertaining to society have been: <%= @societal_verdict %> </h1>
<h1>Your thoughts pertaining to all other topics have been: <%= @other_verdict %> </h1>
