<!DOCTYPE html>
<html>
<head>
  <title>ThoughtLogApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div id="header" class="sixteen columns">
      <div id="logo" class="three columns">
        <h1>buddhaJOURNAL</h1>
      </div>
      <div class="nav four columns offset-by-eight">
        <h1>Green Bay Packers</h1>
      </div>
    </div>
    <%= yield %>

    <div id="footer" class="sixteen columns"></div>
  </div>
</body>
</html>

